body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-image: url(11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.ab{
	text-align: center;
	font-size: 50px;
	color:#008080;

}
.para{
	font-size: 30px;
	padding-left:15px;
	padding-right: 15px;
	color:#008080 
}
.pic{
	width: 250px;
	position: absolute;
	left: 50%;
	top:75%;
	margin: 0 10px;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	overflow: hidden;
}
.pic img{
	width: 100%;
	display: block;
	border-radius: 15px;
	transition: transform 2s;

}
.pic:hover img{
	transform: scale(1.3);
	z-index: 1;
}
.footer{
	height: 200px;
	width: 100%;
	background-color: #556B2F;
	border: 2px solid #556B2F;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footerb{
	height: 180px;
	width: 350px;
	border: 2px solid #556B2F;
	float: left;
	text-align: center;
	
}
